{% extends 'base.html.twig' %}

{% block title %}Hello BanqueController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <br />
    <p><a href="{{ path('app_banque') }}" class="btn btn-secondary" style="display: inline-block">🔙 Retour</a></p>
</div>
{% endblock %}
